.product1_card_img video {
    width: 400px;
}


@media only screen and (max-width: 1200px) {
    .carousel-inner {
        height: 100% !important;
    }

}
@media only screen and (max-width: 1024px) {
.contact-head .txt-reg {
    font-size: 22px;
}
.contact-img img {
    width: 380px;
}
.contact-head .txt-caps {
    font-size: 24px;
}
    .contact-text {
        padding: 25px 0px;
    }
    .form-line{
        width:100%;
    }
    #contact{
        height:100%;
    }
 
    .section-content{
        padding-top: 25%;
    }
    .contact-content {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .contact-img img {
    width: 190px;
}
.contact-img {
    padding: 15px;
}
    #productsection{
        display: none;
    }
    #product-section-resview{
        display: block;
        padding-top:50px;
    }
    
    .contact-text {
        padding: 25px 0px;
    }
    .form-line{
        width:100%;
    }
    #contact{
        height:100%;
    }
 
    .section-content{
        padding-top: 25%;
    }
    .contact-content {
        flex: 0 0 auto;
        width: 100%;
    }
    .graph {
        width: 100%;
        padding: 50px 25px;
    }
    .flag {
        width: 40px;
    }
    .footer-logo-img{
        display: none;
    }
    .product-details {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    .product-section {
        flex-wrap: wrap;
    }
    .product1_slider_bg {
        height: auto;
        padding: 20px;
    }

    .product1_slider_img {
        display: flex;
        justify-content: center;
    }

    .product1_card_img img {
        width: 100%;
    }

    .product1_card_img video {
        width: 100%;
    }

    .product1_slider_img img {
        width: 50%;
        height: auto;
    }

    .carousel-inner {
        height: 100% !important;
    }

    .section-sidebar {
        display: none;
        position: absolute;
        z-index: 1600;
        right: 0;
        background: #e5e8f1;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .menu_icon {
        position: absolute;
        z-index: 1500;
        color: #5f5f5f;
        right: 20px;
        font-size: 20px;
        top: 20px;
        background: #e5e8f1;
        padding: 0px 7px;
        border-radius: 2px;
        display: block;
    }

    .hide_icon_main {
        width: 100%;
        height: 50px;
        display: block;
    }

    .side-menu {
        width: auto;
        height: auto;
        overflow-y: auto;
    }

    .side-menu a {
        text-decoration: none;
    }

    .side-menu .products {
        width: 100%;
        min-height: 20px;
        position: relative;
        border-bottom: solid 1px #d5d5d5;
    }

    .side-menu .products h3 {
        margin-bottom: 0px;
        padding: 25px 15px;
        font-family: 'Roboto-Regular';
        font-size: 12px;
        color: #101d42;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
    }

    .contact_icon_lg {
        display: none;
    }

    .hide_icon {
        font-size: 30px;
        color: #5f5a5a;
        border: solid 1px #d5d5d5;
        line-height: 26px;
        padding: 0px;
        text-align: center;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        z-index: 100;
    }

    .footer-logo-text h6 {
        font-size: 18px;
        line-height: 28px;
        color: #101533;
    }

    .logo {
        width: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-contact h6 {
        padding: 1rem 0rem 0rem 1rem;
        color: #7993cb;
        font-family: Roboto-Regular;
    }
    .contact-img img {
    width: 100%;
}
.contact-img{
    padding:30px;
}
	.footer-head{
		margin-bottom: 50px;
	}
    .contact-card img{
        width:100%;
    }
    #contact{
        padding-bottom: 100px;
        padding-top: 100px;
        height:100%;
    }
    .contact-section{
        height:100% !important;
    }
	.prep_parm {
    	position: relative;
    	right: 15px;
    	top: -30px;
	}
	.showcase p {
    	font-size: 14px;
	}
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
	.flag-section {
    	padding-top: 7px;
    	padding-left: 7px;
    	padding-bottom: 30px;
	}
    .Marquee-content {
        animation: marquee 35s linear infinite running;
    }

    .Marquee-tag {
        width: 100%;
    }

    .col-cus {
        width: 50%;
    }

    .dpass-main {
        width: 100%;
    }

    .product1 .entry:nth-child(odd) .content,
    .product1 .entry:nth-child(even) .content {
        text-align: left;
        transform: translate(3%, 5px) !important;
    }

    .product1 .entry:nth-child(even) .time,
    .product1 .entry:nth-child(odd) .time {
        transform: translate(6%, -265%) !important;
        text-align: center;
    }

    .product1 .time {
        width: 200px;
    }

    .product1 .indicator {
        position: absolute;
        top: -35px;
        z-index: 2;
        left: calc(4.5% - 38px);
        width: 30px;
        height: 30px;
        background-color: rgb(255 255 255);
        border-radius: 50%;
        border: solid 1px #7165cc;
    }

    .product1_card_wave {
        margin-top: 25%
    }

    .product1 .indicator span {
        top: 0px;
        width: 20px;
        height: 20px;
    }

    .product1 .indicator span i {
        color: #131f44;
        font-size: 12px;
    }

    .product1_entry {
        height: 50px;
    }

    .product1_timeline_ipad img {
        width: 230px;
        height: 200px;
        transform: translate(-18%, -77%);
        position: absolute;
        z-index: 10;
    }

    .product1_card_img .card-body {
        padding: 15px 0px;
    }

    .product1_slider_txt h1 {
        text-align: center;
    }

    .rev_br {
        display: none;
    }

    .product1_card_img {
        width: 100%;
        padding: 20px;
    }

    .product1_card_bg {
        transform: translate(0%, 0px);
    }

    .product1_slider_txt {
        margin-top: 0rem !important;
    }

    .product1_slider_img {
        margin-bottom: 0rem !important;
        margin-top: 5rem !important;
    }

    .product1_slider_img img {
        width: 65%;
        height: auto;
    }

    .container::after {
        display: none;
    }

    .form-line {
        padding: 30px 55px;
    }

    .contact-section {
        padding: 0px 0px;
    }
    .contact-text{
        padding: 20px 0px;
    }
    .contact-head .txt-reg {
        font-size: 18px;
    }
    .contact-head .txt-caps {
        font-size: 20px;
    }
    .section-content {
        padding: 100px 15px 0px 15px;
    }

    .team_activit {
        margin-top: 0px;
    }

    .our_team_test_rev {
        transform: translate(0%, -10%);
        display: block;
    }

    .our_team_test {
        display: none;
    }

    .timeline-empty {
        height: 50px;
    }

    .testimonial_rev {
        white-space: normal;
    }

    .quote p {
        text-align: left;
        font-size: 14px;
        font-family: 'Roboto-Regular' !important;
        color: #777777 !important;
        margin-bottom: 0rem;
        line-height: 20px;
    }

    .student p {
        text-align: left;
    }

    .team_head_rev {
        text-align: left;
        padding: 0px 10px;
        margin-bottom: 70px;
    }

    .quote {
        background: #ebf3f5;
        padding: 15px 20px 5px 15px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .quote:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20px 18px 0 18px;
        border-color: #ebf3f5 transparent transparent transparent;
        position: relative;
        top: 37px;
        left: 20px;
    }

    .student {
        margin-left: 25px;
        margin-bottom: 40px;
    }

    .student .photo {
        background-color: #ccc;
        border-radius: 100px;
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 10px;
    }

    .student p {
        position: relative;
        top: 0px;
        margin-top: 0px;
        text-transform: initial;
    }

    .student p:nth-child(2) {
        font-size: 16px;
        margin-bottom: 0;
    }

    .student p:nth-child(3) {
        font-size: 14px;
        color: #777;
    }

    .services_head_rev {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .our-team,
    #box-main {
        display: none;
    }

    .our-team_rev {
        display: block;
    }

    #box-main_rev {
        padding: 0px 15px;
    }

    .services_text_img img {
        width: 100%;
        border-radius: 15px;
    }

    .services_text_rev {
        background: #101d42;
        border-radius: 15px;
        padding: 25px 25px;
        color: #fff;
        margin: 15px 0px 100px 0px;
    }

    .contact_icon_lg {
        display: none;
    }

    .hlv_content {
        display: block;
        margin-bottom: 100px !important;
    }

    .content-res_view {
        display: block;
        background: #101d42;
        border-radius: 5px;
        padding: 40px 25px;
    }

    .about-head_rv {
        font-family: 'Roboto-Light' !important;
        font-size: 12px;
        text-align: center;
        margin: 5px 0px;
    }

    .about-sub2_rv {
        text-align: center;
    }

    .al_rv {
        margin-top: 25px;
    }

    .about-sub2_rv .text-cap {
        font-family: Roboto-Light !important;
        font-size: 20px;
        color: #fff;
    }

    .about-sub2_rv .text-cap-sub {
        font-family: 'Roboto-Light' !important;
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
    }

    .about-sub2_rv .text-cap-sub_1 {
        font-family: 'Roboto-Light' !important;
        font-weight: 300;
        font-size: 14px;
        color: #fff;
    }

    .about-content_rv p {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0rem;
        margin-top: 0px;
        color: #ffffff;
    }

    .about-content_rv {
        margin-top: 40px;
    }

    .about-content-sub1_rv {
        margin-top: 0px;
    }

    .about-content-sub3_rv {
        margin-top: 15px;
    }

    .about-content-sub2_rv {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hmv_content {
        display: none;
    }

    .mt-rv1 {
        margin-top: 25px;
    }

    .mt-rv2 {
        margin-top: 25px;
    }

    .menu_icon {
        position: absolute;
        z-index: 1500;
        color: #5f5f5f;
        right: 20px;
        font-size: 20px;
        top: 20px;
        background: #e5e8f1;
        padding: 0px 7px;
        border-radius: 2px;
        display: block;
    }

    .section-sidebar {
        display: none;
        position: absolute;
        z-index: 1600;
        right: 0;
        background: #e5e8f1;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .hide_icon_main {
        width: 100%;
        height: 50px;
        display: block;
    }

    .hide_icon {
        font-size: 30px;
        color: #5f5a5a;
        border: solid 1px #d5d5d5;
        line-height: 26px;
        padding: 0px;
        text-align: center;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        z-index: 100;
    }

    .side-menu {
        width: auto;
        height: auto;
        overflow-y: auto;
    }

    .side-menu .products {
        width: 100%;
        min-height: 20px;
        position: relative;
        border-bottom: solid 1px #d5d5d5;
    }

    .side-menu .products h3 {
        margin-bottom: 0px;
        padding: 25px 15px;
        font-family: 'Roboto-Regular';
        font-size: 12px;
        color: #101d42;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        */ -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .side-menu a {
        text-decoration: none;
    }

    .logo {
        left: 3.5%;
        top: 2%;
        width: 35px;
    }

    .heading-sub {
        width: 100%;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .text-p {
        font-size: 16px;
    }
    .product-section {
        flex-wrap: wrap;
        padding-top: 15px;
    }

    .graph {
        width: 100%;
        padding: 50px 25px;
    }

    .product-details {
        width: 100%;
        padding: 25px 0px 20px 0px;
    }

    .footer .col-6 {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 0px;
    }

    .footer-logo {
        align-items: center;
        flex-wrap: wrap;
        padding-left: 4%;
    }

    .footer-contact {
        padding-left: 0%;
    }
    .footer-logo-text .txt-reg{
    	color:#101d42;
    }
    .footer-logo-img {
        width: 100%;
        display: none;
    }

    .footer-logo-img img {
        width: 20%;
    }

    .footer-logo-text {
        font-size: 14px;
        width: 100%;
        line-height: 30px;
    }

    .footer .container-fluid {
        padding-top: 50px;
    }

    .copyright-inner {
        padding: 0px 10px;
    }

    .social-icon li a i {
        padding: 3px 5px;
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }
    .carousel-indicator {
        bottom: 10% !important;
    }
    .text-high {
        font-size: 20px !important;
    }
    .slider-data .slider1-text-1{
        padding-bottom:15px;
    }
    .slider-img {
        width: auto !important;
        height: 100vh;
    }
    .slider-data{
        display: block;
    }
    .slider1-text-1 {
        font-size: 25px !important;
    }
    .slider1-text-2 p {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .carousel-caption svg{
        display: none;
    } 
    .carousel-caption-2 svg{
        display: none;
    }
    .carousel-caption-3 svg{
        display: none;
    }  
    .carousel-caption-4 svg{
        display: none;
    }
    .carousel-caption {
        left: 0% !important;
        width: 100% !important;
        top: 20% !important;
        position: relative !important;
        padding: 0px 20px;
    } 
    .carousel-caption-2 {
        left: 0% !important;
        width: 100% !important;
        top: 15% !important;
        position: relative !important;
        padding: 0px 20px;
    }
    .carousel-caption-3 {
        left: 0% !important;
        width: 100% !important;
        top: 15% !important;
        position: relative !important;
        padding: 0px 20px;
    }
    .carousel-caption-4 {
        left: 0% !important;
        width: 100% !important;
        top: 15% !important;
        position: relative !important;
        padding: 0px 20px;
    }
    .slider-data{
        width: 100%;
        background: #054084;
        border-radius: 10px;
        padding: 30px;
    }
    .carousel-inner {
        height: 100vh !important;
    }

    #box-main {
        padding: 0px 10px;
    }

    .our-team {
        margin-left: 1rem !important;
    }

    .container::before {
        left: 3% !important;
        width: 2px !important;
    }

    .entry:nth-child(even) .time,
    .entry:nth-child(odd) .time {
        transform: translate(-15%, -200%) !important;
    }

    .time {
        left: 0% !important;
        transform: translate(-93%, -18%) !important;
        font-size: 12px !important;
        padding: 0px 15px !important;
    }

    .entry:nth-child(odd) .content,
    .entry:nth-child(even) .content {
        text-align: left;
        transform: translate(0%, -9px) !important;
    }

    .content {
        width: 100% !important;
    }
}