@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}
body{
    color: #101d42;
}
*{
    margin: 0px;
    padding:  0px;
}
#productsection{
        display: block;
    }
    #product-section-resview{
        display: none;
    }
.overflow-hidden-x {
    overflow-x: hidden; 
}
.footer-contact h6 {
    padding: 0 0.5rem;
    color: #7993cb;
    font-family: Roboto-Regular;
}
.fancynavbar {
    
    z-index: 10000;
    width: 100%;
}
.contact-text-1 {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
.contact-text-2 {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
}
.contact-card{
    padding: 35px;border:none;
}
.contact-card img{
    width:400px
}
.contact-head a{
    font-family: 'Roboto-Bold';
    font-weight: 600;
    text-transform: initial;
    font-size: 24px;
}
.contact-text p{
    font-family: 'Roboto-Regular';
    font-size: 18px;
    opacity: 0.7;
}
.contact-text1 h1{
    font-family: 'Roboto-Bold';
    font-size: 38px;
}
.contact-text1 h3{
    font-family: 'Roboto-Regular';
    font-size: 23px;
}
@media (min-width: 992px) and (min-width: 992px){
    .fancynavbar.fancynavbar-expand-lg:not(.fancynavbar-top) {
        height: 100vh;
        width: 4.375rem;
        background: #fff;
    }
}
@media (min-width: 992px){
    .fancynavbar.fancynavbar-expand-lg .fancynavbar-collapse {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
        width: calc(50vw - 2.1875rem);
        height: 100vh;
        right: calc(50% + 2.1875rem);
        top: 0;
    }
}
.fancynavbar-collapse {
    height: calc(100vh - 3rem);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    position: absolute;
    text-align: left;
    width: 100vw;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    top: 3rem;
    padding: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #000;
    opacity: .92;
}

.main {
    background: #ddd;
}
.min-vh-100 {
    max-height: 100vh !important;
    overflow-y: auto;
}
.menu-icons{
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    border-left: solid 1px #ddd;
}
.menu-icons img{
    width: 25px;
}

.side-menu .products {
    width: 100%;
    min-height: 150px;
    position: relative;
    border-bottom: solid 1px #d5d5d5;
}
.side-menu .products h3 {
    font-family: 'Roboto-Regular';
    font-size: 10px;
    white-space: nowrap;
    color: #101d42;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 5px;
    margin-left: 40px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.pmactive {
  background-color: #101d42;
}
.pmactive h3{
    color: #fff !important;
}
.pm1 {
  background: #e5e8f1;
}
.pm2 {
  background: #e5e8f1;
}
.pm3 {
  background: #e5e8f1;
}
.pm4 {
  background: #e5e8f1;
}
.pm5 {
  background: #e5e8f1;
}


/*Started*/
/*.graph text, tspan {
    font-family: 'Roboto-Bold' !important;
}*/
.cls-1 {
    fill: #c4d8f0;
}

.cls-2,
.cls-27 {
    font-size: 2px;
    font-family: 'Roboto-Bold';
}

.cls-3 {
    fill: #c4f0f0;
}

.cls-4 {
    letter-spacing: -0.03em;
}

.cls-5 {
    letter-spacing: 0em;
}

.cls-6 {
    letter-spacing: 0em;
}

.cls-7 {
    letter-spacing: 0em;
}

.cls-8 {
    letter-spacing: -0.04em;
}

.cls-9 {
    letter-spacing: -0.03em;
}

.cls-10 {
    letter-spacing: 0em;
}

.cls-11 {
    letter-spacing: 0.01em;
}


.cls-13 {
    letter-spacing: -0.01em;
}

.cls-14 {
    letter-spacing: -0.04em;
}

.cls-15 {
    letter-spacing: -0.04em;
}

.cls-16 {
    letter-spacing: 0em;
}

.cls-17 {
    letter-spacing: 0em;
}

.cls-18 {
    fill: #ead9bf;
}

.cls-19 {
    letter-spacing: 0em;
}

.cls-20 {
    letter-spacing: 0.01em;
}

.cls-21 {
    letter-spacing: -0.01em;
}

.cls-22 {
    letter-spacing: 0.02em;
}

.cls-23 {
    letter-spacing: -0.01em;
}

.cls-24 {
    fill: #f9ceee;
}

.cls-25 {
    letter-spacing: 0.01em;
}

.cls-26 {
    fill: #101d42;
}

.cls-27 {
    fill: #fff;
}

.cls-28 {
    letter-spacing: -0.03em;
}
.section-box{
    padding: 0rem 0rem;
    display: flex;
    overflow: hidden;
}
.section-main{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.section-sidebar{
    height: 100vh;
    width: 4.375rem;
    overflow: hidden;
}

.slide-one-left h6{
    background: #063772;
    padding: 40px 30px;
    border-radius: 20px;
    width: 20%;
    font-size: 25px;
}
.slide-one-right{
    background: #063772e3;
    padding: 40px 30px;
    border-radius: 20px;
    width: 30%;
    margin-left: 18%;
    margin-top: -28px;
}
.heading-sub{
    font-weight: 500;
    font-size: 28px;
    color: #101d42;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Roboto-Regular';
}
/*.about-content tspan{
    font-family: 'Roboto-Regular' !important;
}*/
.about-main1 tspan{
    font-family: 'Roboto-Bold' !important;
    font-size: 12px;
}
.timeline-count{
    font-family: 'Roboto-Bold' !important;
    font-size: 40px;
}
.timeline-text{
    font-family: 'Roboto-Regular' !important;
    font-size: 22px;
}
/*.about-sub2 tspan{
    font-size: 20px;
}*/
.heading-main{
    font-size: 12px;
    color: #7993CB;
    font-family: 'Roboto-Bold';
}
.text-count{
    color: #0a2e93;
    font-family: 'Roboto-Bold';
    font-size: 40px;
}
.text-p{
    color:#777777;
    font-family: 'Roboto-Regular' !important;
    font-size: 23px;
}
.dpass-txt1{
    color: #101d42;
    font-family: 'Roboto-Regular';
    font-size: 25px;
}
.dpass-txt2{
    color: #101d42;
    font-family: 'Roboto-Light';
    font-size: 20px;
}
.text-count-cus {
    color: #9a9a9a;
    font-family: 'Roboto-Regular';
    font-size: 22px;
    margin-bottom: 0rem;
}
.text-p-cus{
    color: #0a2e93;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    margin-bottom: 2rem;
}
#p1, #p2, #p3, #p4, #p5{
    cursor: pointer;
}
.dpass-main{
    width:75%;
    margin-bottom: 2rem;
}
.full-background {
    background-position: 50%;
    background-size: cover;
    margin-bottom: 30px;
    width: 100%;
    height: 1200px;
}
.overlay-bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    content: "";
    background: rgba(0,0,0,.4);
    border-radius: 1rem;
}
.showcase {
    width: 100%;
    height: auto;
    position: relative;
    color: white;
    text-align: center;
}

.showcase img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
.showcase .overlay {
    background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 100%), url(../img/timeline-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.bg-merge{
    width:100%;height:100px;
    background: linear-gradient(0deg, rgb(248 249 250 / 0%) 0%, rgb(226 230 239) 100%);
}
.m-0{
    margin: 0px !important;
}
.p-0{
    padding: 0px !important;
}

.showcase h2 {
  margin-top: 170px;
  font-size: 3em;
}

.showcase p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 35px;
    font-family: 'Roboto-Light' !important;
}
.custom-card{
    background: #101d42;
    color: #fff;
    padding: 40px 40px;
    border-radius: 20px;
    transform: translate(50%, -9px) !important;
    width: 70% !important;
    margin-bottom: 55px !important;
    border-top-left-radius:0px;
}
.custom-card-left{
    background: #101d42;
    text-align: left !important;
    color: #fff;
    padding: 40px 40px;
    border-radius: 20px;
    transform: translate(-47%, -18px) !important;
    width: 70% !important;
    border-bottom-right-radius:0px;
}

.timeline-btn{
    padding: 11px 8px;
    background-color: #ffffff;
    border-radius: 50px;
    color: #000 !important;
    border: none;
    text-align: center;
    width: 130px;
    margin: 0px 0px 0px 0px;
    transition: 1s !important;
    font-size: 14px;
}
.about-text{
    font-size: 14px;
    font-weight: 500;
}
.ahimsa-text{
    font-weight: 600 !important;
    font-size: 20px !important;
}
.custom-entry{
        margin: -97px 10px !important;
}
.timeline-split{
    display: flex;
}
.timeline-count{
    font-size: 40px;
    color: #101d42 !important;
    font-family: 'Roboto-Bold';
}
.timeline-count, .timeline-text{
    text-align: left;
    padding: 5px 5px;
}

#Layer_51 tspan {
    font-weight: 500;
}
.graph text {
    font-weight: 500;
}
#Layer-5{
    cursor: auto;
    font-family: 'Roboto-Bold';
}
.timeline-empty{
    height: 50px;
}
.our-team{
    text-align: left;
    margin-left: 5% !important;
}
.our-team h3{
    font-size: 24px;
    font-family: 'Roboto-Light' !important;
}
.our-team h4{
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Roboto-Light' !important;
}
.footer{
    display: block;
    padding:0px;
    background: rgb(141,144,158);
    background: -webkit-linear-gradient(270deg, rgb(226 230 239) 0%, rgba(16,21,51,1) 33%);
    background: linear-gradient(180deg, rgb(226 230 239) 0%, rgba(16,21,51,1) 33%);
}
.footer-head h6{
    padding: 0rem 1rem;
    color: #7993cb;
    font-family: Roboto-Regular !important;
}
.footer-head ul li a{
    color: #9d9fab;
    font-family: Roboto-Light !important;
}
.copyright{
    color: #c5c5c8;
    font-family: Roboto-Light !important;
}
.footer .container-fluid{
    padding-top: 130px;
    padding-bottom: 50px;
}
.side-menu{
    height:calc(100vh - 65px);
    overflow-y: auto;
}
.footer-logo-text{
    width: 100%;
}
.footer-logo-text h6{
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0rem;
}
.footer-logo{
    padding-left: 15%;
    display: flex;
    align-items: center;
}
.footer-logo-img{
    padding-right: 15px;
    width: 20%;
}
.footer-logo-img img{
    width: 100%;
}
.footer-contact{
    padding-left: 7%;
}
.footer-contact p{
    color: #9d9fab;
}
.copyright-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
.social-icon li a i{
    color: #060814;
    background: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}
.line{
    border-left: solid 1px #646977;
    height: 24rem;
    margin-left: 7.5px;
}
.logo {
    position: absolute;
    z-index: 1500;
    left: 4.1%;
    top: 5%;
    width: 60px;
}
.logo img{
    width: 100%;
}
.testimonial{
    width: 100%;
    white-space: nowrap;
    padding: 0px 40px;
}
.testimonial .items{
    width: 50%;
    padding: 50px;
    display: inline-block;
}
.testimonial-img{
    width: 550px;
    position: relative;
    z-index: 1000;
}
.testimonial-img img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.testimonial-card {
    margin-left: 236px;
    margin-top: -30px;
    border-radius: 10px;
    padding: 45px 40px 45px 40px;

}
#container::-webkit-scrollbar { 
  width: 0 !important;
  display: none !important; 
}
 #container {
  overflow: scroll;
  width: 100%;
  margin-top: 80px;

}
  #posts {
    max-width: 100%;
    white-space: nowrap;
    align-items: center;
    display: flex;
}
.card1{
      
      width: 100%;
}
.img1 {
  
  width: 100%;
}
.card2{
      
      width: 100%;
}
.img2 {
  width: 100%;
}
.items .card24 {
    margin-left: -260px !important;
    margin-top: -260px !important;
    width: 400px;
}
.items .img24 {
    margin-top: -30px !important;
    margin-left: 95px !important;
    width: 300px;
}
.text-two{
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    height: 133px;
    background: white;
    position: absolute;
    top: -100px;
    left: -140px;
    width: 300px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 13%);
    text-align: left;
}
.text-one {
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    height: 133px;
    background: white;
    position: absolute;
    z-index: 1;
    bottom: -100px;
    right: -140px;
    width: 300px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 13%);
    text-align: left;
}

.text-one p{
    font-size: 14px;
    font-family: 'Roboto-Regular' !important;
    color:#777777 !important;
}
.text-two p{
    font-size: 14px;
    font-family: 'Roboto-Regular' !important;
    color:#777777 !important;
}
.text-one h5, .text-two h5{
    font-size: 14px;
    font-family: 'Roboto-Regular' !important;
    color: #000000;
}
.text-one h3, .text-two h3{
    font-size: 18px;
    font-family: 'Roboto-Bold' !important;
    color: #101D42;
}
.right-arrow {
    width: 100px;
    cursor: pointer;
    height: 200px;
    position: absolute;
    right: 60px;
}
.right-arrow-one {
    border-left: solid 1px #b1b1b1;
    height: 130px;
    transform: rotate(138deg);
    position: absolute;
    margin-top: -10px;
    margin-left: 48px;
}
.right-arrow-two {
    border-left: solid 1px #b1b1b1;
    height: 130px;
    transform: rotate(225deg);
    position: absolute;
    left: 45px;
    margin-top: 84px;
}
.left-arrow {
    width: 100px;
    cursor: pointer;
    height: 200px;
    position: absolute;
    left: 60px;
    display: none;
}
.left-arrow-one {
    border-left: solid 1px #b1b1b1;
    height: 130px;
    transform: rotate(226deg);
    position: absolute;
    margin-top: -7px;
    margin-left: 46px;
}
.left-arrow-two {
    border-left: solid 1px #b1b1b1;
    height: 130px;
    transform: rotate(314deg);
    position: absolute;
    left: 46px;
    margin-top: 83px;
}
.slider-btn {
    height: 200px;
    width: 100%;
    position: absolute;
    margin-top: 22%;
    z-index: 1000;
}
.product-section{
    width:100%;
    display:flex;
    padding-top: 50px;
}
.graph{
    width:50%;
    padding:100px 50px;
}
.product-details{
    width:50%;
    padding: 100px 35px 20px 20px;
}
.footer-logo{

}


.Marquee {
  background: #fff;
  width: 100vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0em;
  color: #fff;
  font-weight: 200;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.Marquee-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-animation: marquee 15s linear infinite running;
  -moz-animation: marquee 15s linear infinite running;
  -o-animation: marquee 15s linear infinite running;
  -ms-animation: marquee 15s linear infinite running;
  animation: marquee 15s linear infinite running;
}
.Marquee-content:hover {
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
 }
.Marquee-tag img{
    max-width: 3840px;
}
.Marquee-tag {
  width: 100%;
  margin: 0em;
  padding: 0em;
  background: #fff;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
#box {
    margin: 0;
    padding: 0;
}
#box-main{
    padding: 0px 100px;
        transform: translate(0%, 10%);
    z-index: 1000;
    position: relative;
}
.card-wave {
    display: grid;
    width: 100%;
}
.card-wave > .second {
    padding: 0 32px 32px 32px;
    background-color: #E0E4EE;
    color: white;
}
.hlv_content{
    display: none;
}
.contact_icon_lg{
    display: block;
}
.hide_icon_main{
    display: none;
}
.menu_icon{
    display: none;
}
.our-team, #box-main{
    display: block;
}
.our-team_rev{
    display: none;
}
.our_team_test{
    display: block;
}
.team_activit{
    margin-top:50px;
    font-family: 'Roboto-Light' !important;
}
.our_team_test_rev{
    display: none;
}

/*index*/
.cls-1 {
fill: #e5e8f1;
}
.cls-16 {
font-size: 1.2px;
font-family: Roboto-Regular, Roboto;
}
.cls-2 {
font-size: 1.5px;
font-family: Roboto-Regular, Roboto;
}
.cls-3 {
fill: #e5e8f1;
}
.cls-4 {
letter-spacing: -0.01em;
}
.cls-5 {
letter-spacing: 0em;
}
.cls-6 {
letter-spacing: -0.02em;
}
.cls-7 {
fill: #e5e8f1;
}
.cls-8 {
letter-spacing: -0.01em;
}
.cls-9 {
letter-spacing: -0.02em;
}
.cls-10 {
letter-spacing: -0.04em;
}
.cls-11 {
fill: #e5e8f1;
}
.cls-12 {
letter-spacing: 0.02em;
}
.cls-13 {
fill: #e5e8f1;
}
.cls-14 {
letter-spacing: 0em;
}
.cls-15 {
fill: #101d42;
}
.cls-16 {
fill: #fff;
}
.cls-17 {
letter-spacing: -0.02em;
}
.about-head{font-family: 'Roboto-Light'!important;font-size: 14px;margin-bottom: 10px;}
.text-cap {
font-family: Roboto-Light !important;
font-size: 26px;
fill: #fff;
color:#fff;
}
.text-cap-sub {
font-family: 'Roboto-Light' !important;
font-size: 24px;
fill: #ffffff;
opacity: 0.7;
}
.text-cap-sub_1 {
font-family: 'Roboto-Light' !important;
font-size: 24px;
fill: #fff;
}
.text-cap-sub-2 {
    font-family: 'Roboto-Light' !important;
    font-size: 16px;
    fill: #ffffff;
}
.text-cap-sub-1 {
font-family: 'Roboto-Light' !important;
font-size: 18px;
fill: #ffffff;
opacity: 0.7;
}
.content-split {
transform: translate(0%, 0%);
}
.timeline-split {
text-align: left;
width: 100% !important;
margin-left: 0px !important;
margin-top: 0px !important;
display: flex;
}
.split-1,
.split-2 {
width: 50%;
padding: 5px 0px;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.hidden-line {
border-bottom: solid #ffffff00 1px;
height: 0px;
}
#Layer_51 text {
font-weight: 500 !important;
font-family: 'Roboto-Bold' !important;
cursor: pointer;
}
.split-icon {
font-size: 14px;
color: #767778;
}
.timeline-text-reg {
color: #767778;
}
.timeline-text-bold {
color: #042480;
}
.rect_1{
fill:rgb(16, 29, 66);
}
.showcase_bold{
    font-family: 'Roboto-Regular' !important;
}
.prep_parm{
    position: relative;
    right: 60px;
    top: -150px;
    float: right;
    text-align: center;
    display: none;
}
.prep_parm_1{
    font-size: 25px;
    color: #828282;
    font-family: 'Roboto-Light';
}
.prep_parm_2{
    font-size: 30px;
    color: #101d42;
    font-family: 'Roboto-Regular';
}
.card-main-section{
    text-align: left;
    padding: 42px 53px;
}
.card-main-section .about-sub2{
    line-height: 30px;
}
.contact-head a{
    text-decoration: none;
}
.contact-head .txt-caps{
    font-family: Roboto-Light !important;
    font-size: 30px;
}

.contact-head .txt-reg{
    font-family: Roboto-Light !important;
    font-size: 28px;
}
a{
    text-decoration: none;
}
.footer-logo-text .txt-caps{
    font-family: Roboto-Light !important;
    font-size: 24px;
    color: #fff;
}
.footer-logo-text .txt-reg{
    font-family: Roboto-Light !important;
    font-size: 20px;
    color: #fff;
}
.flag-section{
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-left:0px;
}

.flag{
    width:50px;
    padding: 10px;
    cursor: pointer;
}
.flag img{
    width:100%;
    border-radius: 2px;
}
.rectangle-fill {
    fill: #252645;
}

.scroll-head tspan {
    fill: #fff;
    font-family: 'Roboto-Light' !important;
    font-size: 50px;
}

.scroll-sub tspan {
    fill: #fff;
    font-family: 'Roboto-Light' !important;
    font-size: 32px;
    opacity: 0.7;
}
.footer-link a{
    color:#fff;
}
.scroll-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.scroll-img {
    width: 640px !important;
    height: 500px !important;
}

.owl_main{
    width: 100%;
    height:35rem;
}
.owl_section1 {
    transform: translate(0%, 82%);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
}
.owl_section2 {
    transform: translate(-10%, 13%);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
}
.owl-user-img1 {
    position: absolute;
    width: 220px;
    transform: translate(-103%, -103%);
}
.owl-user-img2 {
    position: absolute;
    width: 220px;
    transform: translate(95%, 31%);
}
.owl-user-img1 img, .owl-user-img2 img{
    width:100%;
    border-radius:10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.owl-user-card1 {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    height: 133px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 13%);
}
.owl-user-card2 {
    position: absolute;
    transform: translate(-94%, -240%);
    width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    height: 133px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 13%);

}
.owl-user-card1 h5, .owl-user-card2 h5 {
    font-size: 14px;
    font-family: 'Roboto-Regular' !important;
    color: #000000;
    text-align: left;
}
.owl-user-card1 h3, .owl-user-card2 h3 {
    font-size: 18px;
    font-family: 'Roboto-Bold' !important;
    color: #101D42;
    text-align: left;
}
.owl-user-card1 a, .owl-user-card2 a{
    text-align: left;
    color: #0077b0;
    float: left;
    font-size: 14px;
}
.owl-theme{
    margin-top:100px;
}
/** to hide dots
    .owl-theme .owl-dots .owl-dot{ display:none!important;}
**/
.owl-stage{
    transform: translate3d(-18712px, 0px, 0px); transition: all 0.25s ease 0s; width: 35928px;
}
#loader {
    position: absolute;
    z-index: 1600;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
}
#loader-spin {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tabbable-responsive {
     display: block;
     min-width: 100%;
     overflow-x: auto;
     margin: 0px 0px 0px 0px;
}
 .tabbable {
     min-width: 100%;
}
 .tabbable .nav-tabs {
     white-space: nowrap;
     display: inline-block;
     min-width: 100%;
     padding: 10px 10px;
}
 .tabbable .nav-tabs .nav-item {
     display: inline-block;
}
 .tabbable .nav-tabs .nav-item .nav-link {
     display: inline-block;
}
.tabbable .nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background-color: #101d42;
    border-color: #101d42 #101d42 #101d42;
} 
.tabbable .nav-tabs .nav-item .nav-link{
    color: #101d42;
}
.tabbable .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*  scrollbar */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #CFD8DC;
}

::-webkit-scrollbar
{
    width: 0px !important;
    height: 5px !important;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #90A4AE ;
}

